{
  "extends": ["@mskelton/eslint-config", "@mskelton/eslint-config/typescript"],
  "overrides": [
    {
      "files": ["packages/*/test/**/*"],
      "env": {
        "jest": true
      }
    }
  ]
}
